.rs-widget-settings {
    margin: 16px;

    .settings {
        display: flex;
        flex-direction: column;

        mat-checkbox {
            margin: 2px 0;
        }
    }
}

.rs-widget-raw {
    margin: 16px;
    max-width: 600px;

    .raw {
        width: 100%;
        max-height: 400px;
        overflow: auto;

        ::ng-deep .segment-key {
            color: #b55dff !important;
        }
    }
}

.rs-widget-file-preview {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 16px;

    &.show-hover::ng-deep .rs-widget:not(.rs-widget-type--1) {
        &:hover {
            outline: 1px solid #ff2d2d;
        }

        &:hover::after {
            content: 'ID: ' attr(data-id);
            color: #ff2d2d;
            position: absolute;
            bottom: -4px;
            left: 0;
        }
    }

    &.grid {
        background-size: 24px 24px;
        background-image: linear-gradient(to right, #636363 1px, transparent 1px), linear-gradient(to bottom, #636363 1px, transparent 1px);
        border-right: 1px solid #636363;
        border-bottom: 1px solid #636363;
    }
}

::ng-deep {
    .rs-widget-type-4,
    .rs-widget-type-0,
    .interaction {
        z-index: 2;
    }
}

.model-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;

    canvas {
        image-rendering: pixelated;
    }
}
