.rs-widget-settings {
    margin: 16px;

    .settings {
        display: flex;
        flex-direction: column;

        mat-checkbox {
            margin: 2px 0;
        }
    }
}

.rs-widget-file-preview {
    width: 600px;
    height: 500px;
    position: relative;
    margin: 16px;

    &.grid {
        background-size: 24px 24px;
        background-image: linear-gradient(to right, #636363 1px, transparent 1px), linear-gradient(to bottom, #636363 1px, transparent 1px);
        border-right: 1px solid #636363;
        border-bottom: 1px solid #636363;
    }
}
