<mat-card class="rs-widget-settings">
    <mat-card-content>
        <div class="settings">
            <mat-checkbox [(ngModel)]="showGrid">Show grid</mat-checkbox>
            <mat-checkbox [(ngModel)]="highlightWidgetsOnHover">Highlight widgets on hover</mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>

<div class="rs-widget-file-preview" [ngClass]="{ grid: showGrid }" *ngIf="decoded && widget">
    <rs-widget [widget]="widget" [parentWidget]="widget" [highlightWidgetsOnHover]="highlightWidgetsOnHover"></rs-widget>
</div>
