<mat-toolbar>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/">Load Filestore</button>
        <button mat-menu-item routerLink="/file-viewer" [disabled]="!cacheLoaded">File Viewer</button>
    </mat-menu>

    <mat-icon class="rs-menu" [matMenuTriggerFor]="appMenu">menu</mat-icon>

    <h1 class="mat-h1">RuneJS Toolkit</h1>

    <mat-icon (click)="minimizeApp()" matTooltip="Minimize Window">minimize</mat-icon>
    <mat-icon (click)="maximizeApp()" matTooltip="Maximize Window">crop_square</mat-icon>
    <mat-icon (click)="closeApp()" matTooltip="Close Window">close</mat-icon>
</mat-toolbar>
