.rs-file-preview {
    max-width: 1000px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .rs-preview-container {
        flex: 1 1 auto;

        .rs-empty-file {
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 16px;
        }
    }
}

.rs-file-header {
    padding: 16px;

    .rs-top {
        display: flex;
        align-items: flex-start;

        h1 {
            text-align: center;
            margin: 0;
            flex: 1 1 auto;
        }

        .mat-icon {
            cursor: pointer;
        }
    }

    .rs-file-info {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin: 16px 0 0;
        text-align: center;
    }
}

.mat-divider {
    margin: 16px 0;
}
