.rs-folder-actions {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .mat-icon {
        display: block;
        cursor: pointer;
    }
}

.rs-search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(179, 179, 179, 0.4);

    input {
        background: transparent;
        border-width: 0;
        outline: none;
        color: #b3b3b3;

        &:focus {
            color: #fff;
        }
    }
}
