<div class="rs-breadcrumb-container">
    <div class="rs-breadcrumb">
        <mat-icon class="rs-folder-icon">folder</mat-icon>

        <ng-content></ng-content>

        <ng-content select="[rs-current]"></ng-content>

        <div class="rs-folder-actions">
            <mat-icon color="primary" matTooltip="Grid View" (click)="setFileDisplay('grid')"
                      *ngIf="fileDisplay === 'list'">view_module</mat-icon>
            <mat-icon color="primary" matTooltip="List View" (click)="setFileDisplay('list')"
                      *ngIf="fileDisplay === 'grid'">view_list</mat-icon>

            <div class="rs-search">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Search..." [ngModel]="searchInput" (ngModelChange)="search.emit($event)" />
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>
</div>
