<div class="rs-sprite-file-preview" *ngIf="decoded && spritePack">
    <div class="rs-sprite-container">
        <div class="rs-sprite" *ngFor="let sprite of spritePack.sprites">
            <rs-sprite *ngIf="sprite && sprite.height && sprite.width" [sprite]="sprite" [zoom]="zoom"></rs-sprite>
        </div>
    </div>

    <div class="rs-controls">
        <mat-icon>zoom_in</mat-icon>
        <mat-slider [value]="zoom" (input)="zoom = $event.value" min="50" max="500" step="5" thumbLabel></mat-slider>
    </div>
</div>
