<div class="rs-filestore-index" *ngIf="fileIndex">
    <div class="rs-breadcrumb">
        <a class="rs-prev" routerLink="/filestore">filestore</a>
        &gt;
        <div class="rs-current">index {{ fileIndex.indexId }}</div>

        <mat-divider></mat-divider>
    </div>

    <div class="rs-folder-container" *ngIf="files">
        <div class="rs-file" *ngFor="let file of files; index as i">
            <mat-icon>{{ file.type === 'archive' ? 'folder' : 'insert_drive_file' }}</mat-icon>
            <strong>Index {{ i }}</strong>
            <div>{{ fileName(file.nameHash) }}</div>
        </div>
    </div>
</div>
