<div class="rs-widgets" *ngIf="!loading; else loader">
    <ng-container *ngIf="widgets.length !== 0; else error">
        <h2 class="mat-title">Widgets</h2>

        <ng-container *ngFor="let widget of widgets">
            <mat-card (click)="setPreview(widget)">
                <div class="rs-id">ID {{ widget.id }}</div>
                <div class="rs-version">Version {{ widget.version }}</div>
                <div class="rs-crc">CRC {{ widget.crc }}</div>
            </mat-card>

            <mat-card *ngIf="preview === widget">
                <rs-widget [widget]="widget"></rs-widget>
            </mat-card>
        </ng-container>
    </ng-container>
</div>

<ng-template #error>
    <h2 class="mat-title">Error Loading Widgets</h2>
    <p>An error occurred while attempting to load the list of widgets.</p>
</ng-template>

<ng-template #loader>
    <div class="rs-loader"><mat-spinner color="primary"></mat-spinner></div>
</ng-template>
