<div class="rs-controls" *ngIf="!loading">
    <mat-button-toggle-group name="showType" [(ngModel)]="show">
        <mat-button-toggle value="VALID">Sprites</mat-button-toggle>
        <mat-button-toggle value="MISSING">Missing Entries</mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="rs-sprites" *ngIf="!loading; else loader">
    <ng-container *ngFor="let sprite of sprites">
        <div class="rs-sprite" *ngIf="sprite.base64 && show === 'VALID' || !sprite.base64 && show === 'MISSING'"
             (click)="openSprite(sprite)">
            <img [src]="'data:image/png;base64,' + sprite.base64" alt="" *ngIf="sprite.base64; else missing" />
            <div>{{ sprite.id }}:{{ sprite.frame }}</div>
        </div>
    </ng-container>
</div>

<ng-template #missing>
    <div>Sprite missing or corrupt.</div>
</ng-template>

<ng-template #loader>
    <div class="rs-loader"><mat-spinner color="primary"></mat-spinner></div>
</ng-template>
