<div [attr.data-id]="widget.id" class="rs-widget rs-widget-type-{{widget.type}}" [style]="styles" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
    <ng-container [ngSwitch]="widget.type">
        <ng-container *ngSwitchCase="-1">
            <ng-container *ngFor="let child of widget['children']">
                <ng-container *ngIf="child.parentId === -1">
                    <rs-widget [parentWidget]="parentWidget" [widget]="child"></rs-widget>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="0">
            <rs-container-widget *ngIf="!widget['hidden']" [container]="widget">
                <rs-widget
                    *ngFor="let child of widget['children']"
                    [parentWidget]="widget"
                    [widget]="child"
                ></rs-widget>
            </rs-container-widget>
        </ng-container>

        <div
            *ngSwitchCase="3"
            class="rectangle"
            [ngStyle]="{
                 'background-color': widget['filled'] ? decimalToHex(widget['textColor']) : 'transparent',
                 'border': '1px solid ' + decimalToHex(widget['textColor']),
                 'opacity': alphaToOpacity(widget.opacity)
             }"
        ></div>

        <div *ngSwitchCase="4" class="text-container" [style]="getTextAlignmentStyle(widget['textAlignmentX'], widget['textAlignmentY'])">
            <div *ngFor="let text of splitTextLines(widget['text'])" style="position: relative; display: flex" [style.height.px]="widget['lineHeight'] !== 0 ? this.widget['lineHeight'] : null">
                <!-- Text Shadow -->
                <img
                    class="text-shadow"
                    *ngIf="widget['textShadowed']"
                    [src]="getBase64Text(widget['fontId'], text, 0)"
                    [alt]="text"
                />

                <!-- Text -->
                <img class="text"
                     [src]="getBase64Text(widget['fontId'], text, widget['textColor'], widget['hoveredTextColor'])"
                     [alt]="text"
                />
            </div>
        </div>

        <rs-sprite *ngSwitchCase="5" [spritePackId]="widget['spriteId']"></rs-sprite>
    </ng-container>
</div>
