<div class="rs-widget" [style]="styles" (mouseenter)="hovering = true" (mouseleave)="hovering = false">
    <ng-container [ngSwitch]="widget.type">
        <ng-container *ngSwitchCase="-1">
            <ng-container *ngFor="let child of widget['children']">
                <ng-container *ngIf="child.parentId === -1">
                    <rs-widget [parentWidget]="parentWidget" [widget]="child" [highlightWidgetsOnHover]="highlightWidgetsOnHover"></rs-widget>
                </ng-container>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="0">
            <ng-container *ngFor="let child of widget['children']">
                <rs-widget [parentWidget]="widget" [widget]="child" [highlightWidgetsOnHover]="highlightWidgetsOnHover"></rs-widget>
            </ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="4">
            <div class="text-container" [style]="getTextAlignmentStyle(this.widget['textAlignmentX'], this.widget['textAlignmentY'])">
                <div *ngFor="let text of splitTextLines(widget['text'])" style="position: relative; display: flex" [style.height.px]="this.widget['lineHeight'] !== 0 ? this.widget['lineHeight'] : null">
                    <!-- Text Shadow -->
                    <img
                        class="text-shadow"
                        *ngIf="this.widget['textShadowed']" [src]="getBase64Text(widget['fontId'], text, 0)"
                        [alt]="text"
                    />

                    <!-- Text -->
                    <img class="text"
                         [src]="getBase64Text(widget['fontId'], text, widget['textColor'], widget['hoveredTextColor'])"
                         [alt]="text"
                    />
                </div>
            </div>
        </ng-container>

        <rs-sprite *ngSwitchCase="5" [spriteId]="widget['spriteId']"></rs-sprite>
    </ng-container>
</div>
