.rs-widget {
    font-size: 12px;
    position: absolute;
}

.debug-info {
    white-space: pre-line;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.text-shadow {
    position: absolute;
    top: 1px;
    left: 1px;
}

.text {
    position: relative;
    align-self: start;
}

.scrollbar-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #23201b;

    .scrollbar-top {
        //
    }

    .scrollbar-spacer {
        flex-grow: 1;
    }

    .scrollbar-bottom {
        //
    }
}

img {
    image-rendering: pixelated;
}
