@import 'theme';

@include angular-material-theme($theme);

html, body {
    height: 100vh;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

main {
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

a {
    color: white;
    cursor: pointer;
}

.rs-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-breadcrumb-container {
    height: 42px;
    position: sticky;
    top: 0;
    background: #303030;
    z-index: 100;
    display: flex;
    flex-direction: column;

    .rs-breadcrumb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1 1 auto;
        padding: 0 16px;

        .mat-icon {
            color: #b3b3b3;
            margin-right: 8px;

            &.rs-folder-icon {
                color: mat-color($primary, 200);
                $s: 28px;
                width: $s;
                height: $s;
                font-size: $s;
                margin-right: 12px;
            }
        }

        a {
            display: block;
            margin: 0 6px;
            color: white;

            &:first-of-type {
                margin-left: 0;
            }
        }

        *[rs-current] {
            font-weight: bold;

            span {
                opacity: 0.4;
                font-weight: 300;
            }
        }

        ~ .mat-divider {
            margin: 0;
            width: 100%;
        }
    }
}

.rs-file {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: background 300ms;
    min-width: 80px;
    border-radius: 8px;
    outline: none;

    $s: 64px;
    .mat-icon {
        width: $s;
        height: $s;
        font-size: $s;
        opacity: 0.8;
        color: mat-color($primary, 200);
    }

    strong {
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
    }

    div {
        margin-top: 4px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}

.rs-folder-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 0 32px;
}

.rs-list {
    .rs-folder-container {
        display: flex;
        flex-direction: column;
        padding: 0;

        .rs-file {
            flex-direction: row;
            padding: 8px 16px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            text-align: left;
            border-radius: 0;
            max-width: none;

            $s: 18px;

            .mat-icon {
                width: $s;
                height: $s;
                font-size: $s;
                margin-right: 16px;
            }

            strong {
                font-size: 14px;
                margin: 0;
                display: block;
                width: 100px;
            }

            div {
                margin: 0;
                width: 150px;
            }
        }
    }
}


*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.55);
    border-radius: 200px;
    border-width: 0;
    box-shadow: none;
    min-height: 28px;
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 15, 0.15);
}


.mat-tooltip {
    font-size: 14px;
    padding: 4px;
}

.mat-sidenav-container {
    height: calc(100% - 42px);
}

.mat-drawer-content {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
