@import 'theme';

@include angular-material-theme($theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

main {
    height: 100%;
    overflow-y: auto;
    padding: 0 32px;
    box-sizing: border-box;
}

a {
    color: white;
    cursor: pointer;
}

.rs-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rs-breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: #303030;
    z-index: 100;
    padding-top: 16px;

    a {
        display: block;
        margin: 0 8px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    .rs-current {
        margin: 0 8px;
    }

    .mat-divider {
        margin: 16px 0;
        width: 100%;
        flex-shrink: 0;
    }
}

.rs-folder-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 32px 0;
}

.rs-file {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: background 400ms;

    $s: 64px;
    .mat-icon {
        width: $s;
        height: $s;
        font-size: $s;
        opacity: 0.8;
        color: mat-color($primary, 200);
    }

    strong {
        font-weight: bold;
        font-size: 16px;
        margin-top: 16px;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
}

.mat-tooltip {
    font-size: 14px;
    padding: 4px;
}
