@import "theme";

@include angular-material-theme($theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

main {
    height: calc(100% - 40px);
    overflow-y: auto;
    position: relative;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid #262626;
    border-top-width: 0;
}

.rs-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-tooltip {
    font-size: 14px;
    padding: 4px;
}
