@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@include mat.core();

$primary: mat.define-palette(mat.$blue-palette);
$accent:  mat.define-palette(mat.$green-palette);

$gray: #b3b3b3;

$theme: mat.define-dark-theme($primary, $accent);
